td {
    white-space: nowrap;
    font-size: 14px
}

th {
    white-space: nowrap;
    font-size: 12px
}

.dataTables_info {
    font-size: 14px
}

caption {
    padding-bottom: 20px;
    caption-side: top
}
